# dependencies
node_modules
**/node_modules/
**/node_modules

# builds
dist
build
.next
**/dist/
**/dist
**/.next/
**/.next

# logs
*.log
logs
npm-debug.log*

# OS
.DS_Store

# environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
